* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color1: rgb(27, 85, 73);
    --color2: rgb(71, 147, 131);
    --color3: rgb(129, 198, 183);
    --color4: rgb(197, 243, 233);
}

body {
    background-color: var(--color4);
    font-family: 'Calibri', sans-serif;
    padding: 4vmin;
}

#formulario fieldset {
    padding: 3vmin;
    gap: 1vmin;
    border: 3px double var(--color2);
}

#formulario fieldset:not(:last-child) {
    margin-bottom: 3vmin;
}

#pago div {
    display: flex;
    align-items: center;
    gap: 2vmin;
}

input:not([type=text]):hover, button:hover, select:hover {
    cursor: pointer;
}

/* ···················· CÓDIGO DE LOS EJERCICIOS ························· */

#formulario legend {
    font-family: Verdana, sans-serif;
}

.logo {
    width: 50px;
    height: 35px;
    padding: 2px;
    object-fit: contain;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.boton {
    padding: 25px;
    background-color: darkblue;
    color: skyblue;
    font-size: 2em;
}

#botVolver {
    font-family: Impact, sans-serif;
    font-weight: bold;
}

#title {
    color: white;
    background-color: rgb(103, 93, 158);
    padding: 8px;
    font-size: 30px;
    font-weight: bold;
    width: max-content;
    margin-bottom: 25px;
}

/* ··················· FIN CÓDIGO DE LOS EJERCICIOS ······················ */

/* Estilos para el scrollbar de la página */
::-webkit-scrollbar {
	width: 20px;
	height: 20px;
	background-color: var(--color1);
	border-radius: 5px;
	border: 6px solid transparent;
	background-clip: content-box;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 120px;
    border: 8px solid transparent;
    background-clip: content-box;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color3);
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}